<div class="upgrade-account-bg">
    <div class="container">
        <div class="content is-flex is-flex-wrap-wrap">
            <div class="price-card">
                <div class="price-card-header free">
                    {{ 'UPGRADE_FREE' | translate }}
                </div>
                <div class="price-card-price">
                    {{ 'UPGRADE_FREE_PRICE' | translate }}
                </div>
                <div class="price-card-content">
                    <ul class="price-card-content-list">
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>{{ 'UPGRADE_BENEFIT_ONE' | translate }}</li>
                        <li><fa-icon class="fa-lg mr-2 x-icon" [icon]="faTimesCircle"></fa-icon>{{ 'UPGRADE_BENEFIT_TWO' | translate }}</li>
                        <li><fa-icon class="fa-lg mr-2 x-icon" [icon]="faTimesCircle"></fa-icon>{{ 'UPGRADE_BENEFIT_THREE' | translate }}</li>
                        <li><fa-icon class="fa-lg mr-2 x-icon" [icon]="faTimesCircle"></fa-icon>{{ 'UPGRADE_BENEFIT_FOUR' | translate }}</li>
                        <li><fa-icon class="fa-lg mr-2 x-icon" [icon]="faTimesCircle"></fa-icon>{{ 'UPGRADE_BENEFIT_FIVE' | translate }}</li>
                    </ul>
                </div>
                <button class="price-card-button">{{ 'BUY' | translate }}</button>
            </div>
            <div class="price-card">
                <div class="price-card-header supporter">
                    {{ 'UPGRADE_SUPPORTER' | translate }}
                </div>
                <div class="price-card-price">
                    {{ 'UPGRADE_SUPPORTER_PRICE' | translate }}
                </div>
                <div class="price-card-content">
                    <ul class="price-card-content-list">
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>{{ 'UPGRADE_BENEFIT_ONE' | translate }}</li>
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>{{ 'UPGRADE_BENEFIT_TWO' | translate }}</li>
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>{{ 'UPGRADE_BENEFIT_THREE' | translate }}</li>
                        <li><fa-icon class="fa-lg mr-2 x-icon" [icon]="faTimesCircle"></fa-icon>{{ 'UPGRADE_BENEFIT_FOUR' | translate }}</li>
                        <li><fa-icon class="fa-lg mr-2 x-icon" [icon]="faTimesCircle"></fa-icon>{{ 'UPGRADE_BENEFIT_FIVE' | translate }}</li>
                    </ul>
                </div>
                <button class="price-card-button">{{ 'BUY' | translate }}</button>
            </div>
            <div class="price-card">
                <div class="price-card-header premium">
                    {{ 'UPGRADE_PREMIUM' | translate }}
                </div>
                <div class="price-card-price">
                    {{ 'UPGRADE_PREMIUM_PRICE' | translate }}
                </div>
                <div class="price-card-content">
                    <ul class="price-card-content-list">
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>{{ 'UPGRADE_BENEFIT_ONE' | translate }}</li>
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>{{ 'UPGRADE_BENEFIT_TWO' | translate }}</li>
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>{{ 'UPGRADE_BENEFIT_THREE' | translate }}</li>
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>{{ 'UPGRADE_BENEFIT_FOUR' | translate }}</li>
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>{{ 'UPGRADE_BENEFIT_FIVE' | translate }}</li>
                    </ul>
                </div>
                <button class="price-card-button">{{ 'BUY' | translate }}</button>
            </div>
        </div>

    </div>
</div>