<div class="upgrade-account-bg">
    <div class="container">
        <div class="content">
            <div class="price-card">
                <div class="price-card-header free">
                    Free
                </div>
                <div class="price-card-price">
                    $0/Month
                </div>
                <div class="price-card-content">
                    <ul class="price-card-content-list">
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>Full use of our platform.</li>
                        <li><fa-icon class="fa-lg mr-2 x-icon" [icon]="faTimesCircle"></fa-icon>Special badge!</li>
                        <li><fa-icon class="fa-lg mr-2 x-icon" [icon]="faTimesCircle"></fa-icon>Customization!</li>
                        <li><fa-icon class="fa-lg mr-2 x-icon" [icon]="faTimesCircle"></fa-icon>Custom emojis!</li>
                        <li><fa-icon class="fa-lg mr-2 x-icon" [icon]="faTimesCircle"></fa-icon>Premium lobbies</li>
                    </ul>
                </div>
                <button class="price-card-button">BUY</button>
            </div>
            <div class="price-card">
                <div class="price-card-header supporter">
                    Supporter
                </div>
                <div class="price-card-price">
                    $2.99/Month
                </div>
                <div class="price-card-content">
                    <ul class="price-card-content-list">
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>Full use of our platform.</li>
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>Special badge!</li>
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>Customization!</li>
                        <li><fa-icon class="fa-lg mr-2 x-icon" [icon]="faTimesCircle"></fa-icon>Custom emojis!</li>
                        <li><fa-icon class="fa-lg mr-2 x-icon" [icon]="faTimesCircle"></fa-icon>Premium lobbies!</li>
                    </ul>
                </div>
                <button class="price-card-button">BUY</button>
            </div>
            <div class="price-card">
                <div class="price-card-header premium">
                    Premium
                </div>
                <div class="price-card-price">
                    $4.99/Month
                </div>
                <div class="price-card-content">
                    <ul class="price-card-content-list">
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>Full use of our platform.</li>
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>Special badge!</li>
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>Customization!</li>
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>Custom emojis!</li>
                        <li><fa-icon class="fa-lg mr-2 check-icon" [icon]="faCheck"></fa-icon>Premium lobbies!</li>
                    </ul>
                </div>
                <button class="price-card-button">BUY</button>
            </div>
        </div>

    </div>
</div>