.forgotten-password-bg{
    width: 100%;
    height:100vh;
    background:linear-gradient(
      rgba(49, 49, 49, 0.93),
      rgba(6, 32, 56, 0.999)
    ),
    url(https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/159520989/original/b0ccd1868f52407d823dbd9d42d48a684188e4b7/play-any-game-with-you.jpg);
    background-size: cover;
}

.forgotten-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: linear-gradient(90deg, rgba(29, 29, 29, 0.6) 0%, rgb(51, 51, 51) 100%);
}

button {
    display: inline-flex;
}

@media only screen and (max-width: 1023px) {
    .forgotten-password-bg{
        height:100%;
    }
}