<div class="forgotten-password-bg">
    <div class="container">
      <div class="forgotten-section">
        <div class="card column is-half m-3">
          <form [formGroup]="forgottenPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="card-content">
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input
                    name="email"
                    formControlName="email"
                    class="input"
                    type="email"
                    placeholder="Email">
                    <span class="icon is-small is-left">
                      <fa-icon [icon]="faEnvelope"></fa-icon>
                    </span>
                </p>
              </div>
            </div>
            <div class="has-text-centered">
              <button type="submit" class="column is-half button is-info">Recover</button>
            </div>
          </form>
          <p class="has-text-light mt-5 column is-full has-text-centered">Enter your email above, you will receive an email with instructions on how to reset your password within a few minutes.</p>
          <div class="card-footer mt-5"></div>
          <div class="has-text-centered mt-5">
            <button href="#" class="column is-half button is-success mt-2" routerLink="">Go back</button>
          </div>
        </div>
    </div>
  </div>
</div> 