.forgotten-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: linear-gradient(90deg, rgba(29, 29, 29, 0.6) 0%, rgb(51, 51, 51) 100%);
}

button {
    display: inline-flex;
}