.terms-wrapper{
    color: white;
    margin-top: 64px;
    height: 100%;
    background-color: rgb(37, 37, 37);
}

.container{
    height: 100%;
}

h2{
    color: white;
}

strong{
    color: white;
}