@import url('~bulma/css/bulma.css');
@import url('~angular-notifier/styles/core.css');
@import url('~angular-notifier/styles/themes/theme-material.css');
@import url('~angular-notifier/styles/types/type-default.css');
@import url('~angular-notifier/styles/types/type-success.css');
@import url('~angular-notifier/styles/types/type-error.css');
@import url('~angular-notifier/styles/types/type-info.css');
@import url('~angular-notifier/styles/types/type-warning.css');
@import url('~@ng-select/ng-select/themes/default.theme.css');

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.title{
  font-size: 34px;
}

.subtitle{
  font-size: 28px;
}

.center{
  margin: 0 auto;
}

.three-quarter-width{
  width: 75%;
}

.two-quarter-width{
  width: 50%;
}

.one-quarter-width{
  width: 25%;
}


@media only screen and (max-width: 1023px) {
  .title{
      font-size: 26px;
  }

  .subtitle{
    font-size: 20px;
  }
}

@media only screen and (max-width: 623px) {
  .title{
      font-size: 24px;
  }

  .subtitle{
    font-size: 16px;
  }
}

.bg{
  width: 100%;
  height:100vh;
  background:linear-gradient(
    rgba(11, 29, 53, 0.75),
    rgba(17, 18, 19, 0.85)
  ),
  url(https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
}

.text-is-light{
  color: rgb(221, 220, 212);
}

.error{
  width: 100%;
  background-color: #ffffff;
  padding:5px;
  border:3px solid #eee;
  border-radius: 3px;
  color: rgb(221, 220, 212);
  font-size: 12px;
}

.danger{
  border-color: #d9534f;
  background-color: rgba(217, 83, 79, 0.1);
}

.success{
  border-color: #47d12b;
  background-color: rgba(217, 83, 79, 0.1);
}

.neutral{
  border-color: #4bd3d8;
  background-color: rgba(217, 83, 79, 0.1);
}