#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
  
.bg{
  width: 100%;
  height:100vh;
  background:linear-gradient(
    rgba(7, 80, 23, 0.75),
    rgba(18, 26, 43, 0.85)
  ),
  url(https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
}
  
.start-screen-wrapper{
  height: 100vh;
}