<h1 class="title p-3 text-is-light">Security</h1>
<div class="change-password-form-wrapper">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="is-flex is-flex-direction-column text-is-light">
            <div class="control mt-4">
                <label for="oldpassword">Old Password</label>
                <input class="input" id="currentPassword" type="password" formControlName="currentPassword">
                <div class="error danger mt-2" *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.errors && (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)">
                    <div *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">
                      This field is required.
                    </div>
                </div>
            </div>
            <div class="control mt-4">
                <label for="newpassword">New Password</label>
                <input class="input" id="password" type="password" formControlName="password">
                <div *ngIf="changePasswordForm.controls['password'].dirty" class="error neutral mt-2">
                    <div [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('minlength') ? 'has-text-danger' : 'has-text-success' ">
                      Must be atleast 8 characters!
                    </div>
                    <div [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasNumber') ? 'has-text-danger' : 'has-text-success' ">
                      Must contain atleast 1 number!
                    </div>
                    <div [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasCapitalCase') ? 'has-text-danger' : 'has-text-success' ">
                      Must contain atleast 1 capital case!
                    </div>
                    <div [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasSmallCase') ? 'has-text-danger' : 'has-text-success' ">
                      Must contain atleast 1 lower case!
                    </div>
                    <div [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasSpecialCharacter') ? 'has-text-danger' : 'has-text-success' ">
                      Must contain atleast 1 special character!
                    </div>
                  </div>
            </div>
            <div class="control mt-4">
                <label for="repeatnewpassword">Repeat New Password</label>
                <input class="input" id="repeatPassword" type="password" formControlName="repeatPassword">
                <div *ngIf="changePasswordForm.errors?.notmatched" class="error danger mt-2">
                    <div >
                        Passwords do not match.
                    </div>
                </div>
            </div>
        </div>
        
        <button class="button is-success mt-4" type="submit" disabled="changePasswordForm.valid">Save</button>
    </form>
</div>