<h1 class="title p-3 text-is-light">Security</h1>
<div class="change-password-form-wrapper">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="is-flex is-flex-direction-column text-is-light">
            <div class="control">
                <label for="oldpassword">Old Password</label>
                <input class="input mt-3 mb-3" id="oldpassword" type="password" formControlName="oldPassword">
            </div>
            <div class="control">
                <label for="newpassword">New Password</label>
                <input class="input mt-3 mb-3" id="newpassword" type="password" formControlName="newPassword">
            </div>
            <div class="control">
                <label for="repeatnewpassword">Repeat New Password</label>
                <input class="input mt-3 mb-3" id="repeatnewpassword" type="password" formControlName="repeatNewPassword">
            </div>
        </div>
        <button class="button is-success mt-4">Save</button>
    </form>
</div>