<h1 class="title p-3 text-is-light">Security</h1>
<div class="change-password-form-wrapper">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="is-flex is-flex-direction-column text-is-light">
            <div class="control mt-4">
                <label for="oldpassword">{{ 'OLD_PASSWORD' | translate }}</label>
                <input class="input" id="currentPassword" type="password" formControlName="currentPassword">
                <div class="error danger mt-2" *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.errors && (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)">
                    <div *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">
                      {{ 'REQUIRED_FIELD' | translate }}
                    </div>
                </div>
            </div>
            <div class="control mt-4">
                <label for="newpassword">{{ 'NEW_PASSWORD' | translate }}</label>
                <input class="input" id="password" type="password" formControlName="password">
                <div *ngIf="changePasswordForm.controls['password'].dirty" class="error neutral mt-2">
                    <div [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('minlength') ? 'has-text-danger' : 'has-text-success' ">
                      {{ 'PASSWORD_MINIMUM_CHAR' | translate }}
                    </div>
                    <div [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasNumber') ? 'has-text-danger' : 'has-text-success' ">
                      {{ 'PASSWORD_ATLEAST_NUMBER' | translate }}
                    </div>
                    <div [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasCapitalCase') ? 'has-text-danger' : 'has-text-success' ">
                      {{ 'PASSWORD_ATLEAST_CAPITAL' | translate }}
                    </div>
                    <div [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasSmallCase') ? 'has-text-danger' : 'has-text-success' ">
                      {{ 'PASSWORD_ATLEAST_LOWERCASE' | translate }}
                    </div>
                    <div [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasSpecialCharacter') ? 'has-text-danger' : 'has-text-success' ">
                      {{ 'PASSWORD_ATLEAST_SPECIAL' | translate }}
                    </div>
                  </div>
            </div>
            <div class="control mt-4">
                <label for="repeatnewpassword">{{ 'PASSWORD_REPEAT' | translate }}</label>
                <input class="input" id="repeatPassword" type="password" formControlName="repeatPassword">
                <div *ngIf="changePasswordForm.errors?.notmatched" class="error danger mt-2">
                    <div >
                      {{ 'PASSWORDS_MISMATCH' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="changePasswordForm.errors?.wrongPw" class="error danger mt-2">
          <div >
            Old password incorrect
          </div>
      </div>
        <button class="button is-success mt-4" type="submit">{{ 'SAVE' | translate }}</button>
    </form>
</div>