<h1 class="title p-3 text-is-light">Profile</h1>
<div class="profile-settings-form-wrapper text-is-light">
    <form [formGroup]="profileSettingsForm" (ngSubmit)="onSubmit()">
        <div class="is-flex is-flex-direction-column">
            <div class="control">
                <label for="newusername">Change Username</label>
                <input class="input mt-3 mb-3" id="newusername" type="text" formControlName="username" [value]="user?.username">
            </div>
            <div class="control">
                <label for="newusername">Change Email</label>
                <input class="input mt-3 mb-3" id="newemail" type="email" formControlName="email" [value]="user?.email">
            </div>
            <div class="field">
                <div class="control">
                    <label for="profiledesc">Bio</label>
                    <textarea class="textarea has-fixed-size mt-3 mb-3" id="profiledesc" [value]="user.memberProfile?.description" formControlName="description"></textarea>
                </div>
            </div>
            <div class="is-flex mt-3 mb-3 is-justify-content-space-between">
                <div class="control dropdown-ng">
                    <label for="location">Country</label>
                    <ng-select 
                        [items]="countries" 
                        bindLabel="name" 
                        bindValue="id"
                        placeholder="Country"
                        formControlName="country"
                        [closeOnSelect]='true'
                        class="custom">
                    </ng-select>
                </div>
                <div class="control dropdown-ng">
                    <label for="gender">Gender</label>
                    <ng-select 
                        [items]="genders" 
                        placeholder="Gender"
                        formControlName="gender"
                        [closeOnSelect]='true'
                        class="custom">
                    </ng-select>
                </div>
            </div>

            <div class="control">
                <label for="date">Date</label>
                <div class="date-wrapper is-flex mt-3 mb-3">
                    <input class="input day-input" id="day" type="text" placeholder="DD" maxlength="2" formControlName="dateDay">
                    <div class="date-divider">-</div>
                    <input class="input month-input" id="month" type="text" placeholder="MM" maxlength="2" formControlName="dateMonth">
                    <div class="date-divider">-</div>
                    <input class="input year-input" id="year" type="text" placeholder="YYYY" maxlength="4" formControlName="dateYear">
                </div>
            </div>
        </div>
        <button class="button is-success mt-5">Save</button>
    </form>
</div>
