.profile-settings-form-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(207, 207, 205);
}

.account-customization-container{
    width: 100%;
    height: 480px;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(207, 207, 205);
}

.placeholder-img img{
    width: 206px;
    height: 140px;
}

.selected-img{
    border: 3px solid rgb(0, 63, 158);
    transform: scale(1.1);
}

.loading {    
    background-color: #ffffff;
    background-image: url(../../../../assets/spinner/Spin-1s-257px.gif);
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}

.custom{
    width: 100%;
}

.day-input{
    width: 75px;
}

.month-input{
    width: 75px;
}

.year-input{
    width: 100px;
}

.date-wrapper{
    height: 40px;
}

.date-divider{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 42px;
}

form{
    max-width: 540px;;
    margin: 0 auto;
    padding: 2rem;
}

.dropdown-ng{
    width: 48%;
}

select{
    padding: 10px;
    font-size: 16px;
}

.image-template-wrapper{
    flex-wrap: wrap;
    justify-content: center;
}

.change-background-text{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}