<div class="joined-users-list">
    <div class="joined-users-header">
        <div class="header-text">Party</div>
        <div class="party-size">{{ totalParty }} / {{ lobby.maxUsers }}</div>
    </div>
    <div class="joined-users-item" *ngFor="let user of usersInParty; let i = index;">
        <div class="is-flex is-align-items-center mt-3">
            <div class="quarter-width is-flex is-align-items-center is-justify-content-start pl-2">
                <div class="image is-32x32">
                    <img class="is-rounded" [src]="user.memberProfile?.memberPhoto?.url" alt="User Image">
                </div>
                <div *ngIf="user.id == lobby.adminUid">
                    <fa-icon class="fa-lg ml-2 party-leader" [icon]="faCrown"></fa-icon>
                </div>
            </div>
            <div class="joined-users-user-wrapper is-flex is-align-items-center is-justify-content-center half-width">
                <div [routerLink]="['../../account/', user.id]" class="username-text">
                    {{ user.username }}
                </div>
            </div>
            <div class="quarter-width is-flex is-align-items-center is-justify-content-center">
                <div *ngIf="currentUser?.id == lobby.adminUid && user.id != lobby.adminUid">
                    <a (click)="kickFromParty(user.id!)">Remove</a>
                </div>
            </div>
        </div>
    </div>
</div>