.waiting-room-list{
    width: 100%;
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(37, 37, 37, 0.7);
}

.waiting-room-header{
  background-color: khaki;
  font-size: 10px;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.waiting-room-item{
  
}

.table-header-text{
    color: rgb(238, 238, 235);
}

::-webkit-scrollbar {
    width: 10px;
}
  
  ::-webkit-scrollbar-track {
  background: #ffffff;
}
  
  ::-webkit-scrollbar-thumb {
  background: rgb(141, 138, 138);
}
  
  ::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 84, 84);
}