<div class="waiting-room-list">
    <table class="table">
        <thead>
            <th class="table-header-text">
                Waiting to join...
            </th>
        </thead>
        <tbody >
            <ng-template #queueLobby>
                <tr>
                    <td >
                        <app-member-card (acceptMemberEvent)="memberJoinedQueue(queueLobby)"></app-member-card>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>