<h1 class="title p-3 text-is-light">{{ 'CONNECTIONS' | translate }}</h1>
<div class="connections-settings-wrapper is-flex is-flex-direction-column">
    <section class="section">
        <a *ngIf="!discordData?.connected" href="api/accounts/discord" target="_blank" rel="noopener" class="button discordbtn">
            <span>{{ 'LINK_DISCORD' | translate }}</span>
            <div class="icon">
                <img class="image is-64by64" src="../../../../assets/images/discord_icon.png" alt="Discord Icon">
            </div>
        </a>
        <button *ngIf="discordData?.connected" (click)="onDiscordUnlink()" type="button" class="button discordbtn">
            <span>{{ 'UNLINK_DISCORD' | translate }}</span>
            <div class="icon">
                <img class="image is-64by64" src="../../../../assets/images/discord_icon.png" alt="Discord Icon">
            </div>
        </button>
        <div class="connections-text mt-4 text-is-light">
            <div class="connected" *ngIf="discordData?.connected">
                <fa-icon class="icon" [icon]="faCheckCircle"></fa-icon>
                ID: 
                <a class="ml-1" href="{{'https://discord.com/users/' + discordData?.discordId}}" target="_blank" rel="noopener">
                    {{ discordData?.discordId }}
                </a>
            </div>
            <div *ngIf="discordData?.connected" class="check">
                <input (click)="onDiscordHide($event)" type="checkbox" [checked]="discordData?.hidden"> {{ 'DISCORD_HIDE' | translate }}
            </div>
            <p>
                {{ 'DISCORD_TERMS' | translate }}
            </p>
        </div>
    </section>
    <section class="section">
        <a *ngIf="!steamData?.connected" href="api/accounts/steam" target="_blank" rel="noopener" type="button" class="button steambtn">
            <span>{{ 'LINK_STEAM' | translate }}</span>
            <div class="icon">
                <img class="image is-64by64" src="../../../../assets/images/steam-icon-blue.png" alt="Steam Icon">
            </div>
        </a>
        <button *ngIf="steamData?.connected" (click)="onSteamUnlink()" type="button" class="button steambtn">
            <span>{{ 'UNLINK_STEAM' | translate }}</span>
            <div class="icon">
                <img class="image is-64by64" src="../../../../assets/images/steam-icon-blue.png" alt="Steam Icon">
            </div>
        </button>
        <div class="connections-text mt-4 text-is-light">
            <div class="connected" *ngIf="steamData?.connected">
                <fa-icon class="icon" [icon]="faCheckCircle"></fa-icon>
                ID: 
                <a class="ml-1" href="{{'https://steamcommunity.com/profiles/' + steamData?.steamid}}" target="_blank" rel="noopener">
                    {{ steamData?.steamid }}
                </a>
            </div>
            <div *ngIf="steamData?.connected" class="check">
                <input (click)="onSteamHide($event)" type="checkbox" [checked]="steamHidden"> {{ 'STEAM_HIDE' | translate }}
            </div>
            <p>
                {{ 'STEAM_TERMS' | translate }}
            </p>
        </div>
    </section>
</div>



