.help-background{
    width: 100%;
    height:100%;
    background-color: rgb(48, 48, 48);
}

.content{
    margin-top: 64px;
    width: 100%;
    height: 100%;
}

.help-container{
    margin:0 auto;
}

button.accordion{
    width: 100%;
    background-color: rgb(48, 48, 48);
    border: 1px solid white;
    padding: 20px 30px;
    font-size: 18px;
    color: rgb(240, 240, 240);
    cursor: pointer;
    transition: background-color 0.2s linear;
}

button.accordion:hover {
    background-color: rgb(44, 44, 44);
    color: white;
    transition: color 0.2s;
}
  
.accordion-content {
    background-color: rgb(48, 48, 48);
    display: none;
    padding: 0 20px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}