.privacy-wrapper{
    color: white;
    margin-top: 64px;
    height: 100%;
    background-color: rgb(37, 37, 37);
    padding: 2rem;
}

.container{
    height: 100%;
}

ul{
    list-style-type: disc;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 22px;
    margin-top: 40px;
}

ul {margin-left: 0; padding-left: 60px;}

