<footer class="playfu-footer">
    <div class="footer-container">
        <div class="footer-wrapper">
        <div class="left-footer-content">
            <div class="footer-information">
                <p><img src="https://img.icons8.com/ios-filled/12/999999/mail.png" alt="email icon">support@playfu.freshdesk.com</p>
            </div>
        </div>
        <div class="right-footer-content footer-content">
            <div class="footer-links">
                <ul>
                    <li role="menuitem"><a [routerLink]="['about']">About</a></li>
                    <li role="menuitem"><a [routerLink]="['terms']">Terms of Use<br>& Legal Information</a></li>
                    <li role="menuitem"><a [routerLink]="['privacy-policy']">Privacy Policy</a></li>
                    <li role="menuitem"><a [routerLink]="['contact']">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
        <div class="copyright-wrapper">
            <div class="footer-logo-section">
                <div class="footer-logo">
                    <img src="../../../assets/images/playfu.png" alt="playfu icon">
                </div>
            </div>
            <div class="copyright-text">
                &copy; Playfu 2022. All rights reserved.
            </div>
        </div>
    </div>
</footer>
