<div class="register-bg">
  <div class="container">
    <div class="register-section">
      <div class="card column is-half m-3">
        <form [formGroup]="regUserForm" (ngSubmit)="register()" autocomplete="off">
          <div class="card-content">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input
                  name="email"
                  formControlName="email"
                  class="input"
                  type="email"
                  #emailInput
                  placeholder="Email">
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
              </p>
              <div class="error danger mt-2" *ngIf="regUserForm.get('email')?.invalid && regUserForm.get('email')?.errors && (regUserForm.get('email')?.dirty || regUserForm.get('email')?.touched)">
                <div *ngIf="regUserForm.get('email')?.hasError('required')">
                  This field is required.
                </div>
                <div *ngIf="regUserForm.get('email')?.hasError('email')">
                  This has to be a valid email.
                </div>
                <div *ngIf="regUserForm.get('email')?.hasError('emailTaken')">
                  Email is taken.
                </div>
              </div>
            </div>
            <div class="field mt-5 mb-5">
              <p class="control has-icons-left">
                <input
                  name="password"
                  formControlName="password"
                  class="input"
                  type="password"
                  placeholder="Password">
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </p>
              <div class="error neutral mt-2">
                <div [ngClass]="regUserForm.controls['password'].hasError('required') || regUserForm.controls['password'].hasError('minlength') ? 'has-text-danger' : 'has-text-success' ">
                  Must be atleast 8 characters!
                </div>
                <div [ngClass]="regUserForm.controls['password'].hasError('required') || regUserForm.controls['password'].hasError('hasNumber') ? 'has-text-danger' : 'has-text-success' ">
                  Must contain atleast 1 number!
                </div>
                <div [ngClass]="regUserForm.controls['password'].hasError('required') || regUserForm.controls['password'].hasError('hasCapitalCase') ? 'has-text-danger' : 'has-text-success' ">
                  Must contain atleast 1 capital case!
                </div>
                <div [ngClass]="regUserForm.controls['password'].hasError('required') || regUserForm.controls['password'].hasError('hasSmallCase') ? 'has-text-danger' : 'has-text-success' ">
                  Must contain atleast 1 lower case!
                </div>
                <div [ngClass]="regUserForm.controls['password'].hasError('required') || regUserForm.controls['password'].hasError('hasSpecialCharacter') ? 'has-text-danger' : 'has-text-success' ">
                  Must contain atleast 1 special character!
                </div>
              </div>
            </div>
            <div class="field mt-5 mb-5">
              <p class="control has-icons-left">
                <input
                  name="repeatpassword"
                  formControlName="repeatPassword"
                  class="input"
                  type="password"
                  placeholder="Repeat Password">
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </p>
              <div class="error danger mt-2" *ngIf="regUserForm.get('repeatPassword')?.invalid && regUserForm.get('repeatPassword')?.errors && (regUserForm.get('repeatPassword')?.dirty || regUserForm.get('repeatPassword')?.touched)">
                <div *ngIf="regUserForm.get('repeatPassword')?.hasError('required')">
                  This field is required.
                </div>
              </div>
              <div *ngIf="regUserForm.get('password')?.invalid && regUserForm.get('password')?.errors && (regUserForm.get('password')?.dirty || regUserForm.get('password')?.touched)">
                <div class="error danger mt-2" *ngIf="regUserForm.errors?.notmatched">
                  Passwords do not match.
                </div>
              </div>
            </div>
            <div class="field mt-5 mb-5">
              <p class="control has-icons-left">
                <input
                  name="username"
                  formControlName="username"
                  class="input"
                  type="text"
                  #usernameInput
                  placeholder="Username">
                  <span class="icon is-small is-left">
                    <fa-icon [icon]="faUser"></fa-icon>
                  </span>
              </p>
              <div class="error danger mt-2" *ngIf="regUserForm.get('username')?.invalid && regUserForm.get('username')?.errors && (regUserForm.get('username')?.dirty || regUserForm.get('username')?.touched)">
                <div *ngIf="regUserForm.get('username')?.hasError('required')">
                  This field is required.
                </div>
                <div *ngIf="regUserForm.get('username')?.hasError('hasSpecialCharacter')">
                  No special characters allowed in username.
                </div>
                <div *ngIf="regUserForm.get('username')?.hasError('usernameTaken')">
                  Username is taken.
                </div>
              </div>
            </div>
            <div class="control dropdown-ng mt-5 mb-5">
              <ng-select 
                  [items]="countries" 
                  bindLabel="name" 
                  bindValue="id"
                  placeholder="Country"
                  formControlName="countryId"
                  [closeOnSelect]='true'
                  class="custom">
              </ng-select>
              <div *ngIf="regUserForm.get('countryId')?.invalid && regUserForm.get('countryId')?.errors && (regUserForm.get('countryId')?.dirty || regUserForm.get('countryId')?.touched)">
                <div class="error danger mt-2" *ngIf="regUserForm.get('countryId')?.hasError('required')">
                  This field is required.
                </div>
              </div>
            </div>
            <div class="control dropdown-ng mt-5 mb-5">
                <ng-select 
                    [items]="genders" 
                    placeholder="Gender"
                    formControlName="gender"
                    [closeOnSelect]='true'
                    class="custom">
                </ng-select>
                <div *ngIf="regUserForm.get('gender')?.invalid && regUserForm.get('gender')?.errors && (regUserForm.get('gender')?.dirty || regUserForm.get('gender')?.touched)">
                  <div class="error danger mt-2" *ngIf="regUserForm.get('gender')?.hasError('required')">
                    This field is required.
                  </div>
                </div>
            </div>
              <div *ngIf="regUserForm.errors" class="error danger mt-2">
                All fields are required.
              </div>
          </div>
          <div class="has-text-centered">
            <button type="submit" class="column is-half button is-info">Register</button>
          </div>
        </form>
        <p class="has-text-light mt-5 column is-full">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis pariatur, cum ex asperiores tenetur, dolore numquam assumenda doloribus nostrum earum deleniti, obcaecati blanditiis necessitatibus deserunt id minus? Error, quis ducimus?</p>
        <div class="card-footer mt-5"></div>
        <div class="has-text-centered mt-5">
          <button href="#" class="column is-half button is-success mt-2" routerLink="">Go back</button>
        </div>
      </div>
    </div>
  </div>
</div> 