<!-- <video id="background-video" class="header" autoplay loop muted playsinline poster="https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?cs=srgb&dl=pexels-abdullah-ghatasheh-1631677.jpg&fm=jpg">
  <source src="../assets/videos/background.mp4" type="video/mp4">
</video> -->
<div class="bg">
  <div class="container">
    <div class="register-section">
      <div class="card column is-half m-3">
        <form [formGroup]="regUserForm" (ngSubmit)="register()" autocomplete="off">
          <div class="card-content">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input
                  name="email"
                  formControlName="email"
                  class="input"
                  type="email"
                  placeholder="Email">
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
              </p>
            </div>
            <div class="field mt-5 mb-5">
              <p class="control has-icons-left">
                <input
                  name="password"
                  formControlName="password"
                  class="input"
                  type="password"
                  placeholder="Password">
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </p>
            </div>
            <div class="field mt-5 mb-5">
              <p class="control has-icons-left">
                <input
                  name="repeatpassword"
                  formControlName="repeatPassword"
                  class="input"
                  type="password"
                  placeholder="Repeat Password">
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </p>
            </div>
            <div class="field mt-5 mb-5">
              <p class="control has-icons-left">
                <input
                  name="username"
                  formControlName="username"
                  class="input"
                  type="text"
                  placeholder="Username">
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </p>
            </div>
            <div class="is-flex mt-3 mb-3 is-justify-content-space-between">
              <div class="control dropdown-ng">
                  <label for="location">Country</label>
                  <ng-select 
                      [items]="countries" 
                      bindLabel="name" 
                      bindValue="twoLetterCode"
                      placeholder="Country"
                      formControlName="country"
                      [closeOnSelect]='true'
                      class="custom">
                  </ng-select>
              </div>
              <div class="control dropdown-ng">
                  <label for="gender">Gender</label>
                  <ng-select 
                      [items]="genders" 
                      placeholder="Gender"
                      formControlName="gender"
                      [closeOnSelect]='true'
                      class="custom">
                  </ng-select>
              </div>
          </div>
          </div>
          <div class="has-text-centered">
            <button type="submit" class="column is-half button is-info">Register</button>
          </div>
        </form>
        <p class="has-text-light mt-5 column is-full">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis pariatur, cum ex asperiores tenetur, dolore numquam assumenda doloribus nostrum earum deleniti, obcaecati blanditiis necessitatibus deserunt id minus? Error, quis ducimus?</p>
        <div class="card-footer mt-5"></div>
        <div class="has-text-centered mt-5">
          <button href="#" class="column is-half button is-success mt-2" routerLink="">Go back</button>
        </div>
      </div>
    </div>
  </div>
</div> 