.faq-container{
    width: 100%;
    margin: auto;
}

button.accordion{
    width: 100%;
    background-color: rgb(49, 196, 127);
    border: 4px solid rgb(56, 56, 56);
    padding: 14px;
    font-size: 14px;
    color: rgb(66, 66, 66);
    cursor: pointer;
}

button.accordion:hover {
    background-color: rgb(28, 158, 97);
    color: rgb(65, 65, 65);
    transition: color 0.2s;
}
  
.accordion-content {
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    overflow: hidden;
    display: none;
}