.game-lobby-background{
    width: 100%;
    height:100vh;
    /* background-color: rgb(37,37,37); */
    background:linear-gradient(
      rgba(44, 44, 48, 0.65),
      rgba(36, 4, 19, 0.7)
    ),
    url(https://cdn.akamai.steamstatic.com/steam/apps/1438160/page_bg_generated_v6b.jpg?t=1602738467);
    background-size: cover;
}

.game-lobby-container{
    width: 100%;
    margin: 0 auto
}

.content{
    margin-top: 54px;
    width: 100%;
    height: 100vh;
}