<div class="game-lobby-background" *ngIf="gameInfo" [ngStyle]="{'background-image': 'url(' + gameInfo?.background + ')'}">
    <section class="game-lobby-header-section section is-small is-flex">
        <div class="header-game-image">
            <img *ngIf="gameInfo" [src]="gameInfo?.headerImage">
        </div>
        <div class="game-lobby-section-wrapper is-flex is-flex-direction-column">
            <h1 class="title p-5 text-is-light">{{ gameInfo?.name }}</h1>
            <h1 class="subtitle p-5 text-is-light">Active lobbies: {{ gameInfo.activeLobbies }}</h1>
        </div>
    </section>
    <div class="game-lobby-container">
        <div class="content">
            <app-roomcard></app-roomcard>
        </div>
    </div>
</div>