.game-lobby-background{
    width: 100%;
    height:100%;
    background-size: cover;
    background-attachment: fixed;
}

.game-lobby-container{
    max-width: 1400px;
    margin: 0 auto;
}

.content{
    margin-top: 64px;
    width: 100%;
    height: 100%;
}

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 30px;
    text-align: center;
}

.game-lobby-header-section{
    margin-top: 64px;
    background-color: rgba(26, 29, 32, 0.65);
    width: 100%;
}

.header-game-image{
    width: 460px;
    height: 215px;
}