.left-navigation{
    width: 225px;
    flex-shrink: 0;
    z-index: 99;
    position: relative;
}

.app{
    width: 100%;
    background-color: rgb(53, 49, 49);
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.main-content{
    width: 100%;
    position: relative;
    flex-grow: 1;
}

@media only screen and (max-width: 1023px) {
    .left-navigation{
        width: 0;
    }
}