<div class="login-bg">
    <div class="container">
        <div class="front-logo">
            <img src="../../../assets/images/playfu.png" alt="Playfu Logo">
        </div>
        <div class="login-section">
            <div class="card column is-half m-3">
                <form [formGroup]="loginUserForm" (ngSubmit)="login()" autocomplete="off">
                    <div class="card-content">
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input
                                name="email"
                                formControlName="email"
                                class="input"
                                type="email"
                                placeholder="Email">
                                <span class="icon is-small is-left">
                                <fa-icon [icon]="faEnvelope"></fa-icon>
                                </span>
                            </p>
                        </div>
                        <div class="field mt-5">
                            <p class="control has-icons-left">
                                <input
                                name="password"
                                formControlName="password"
                                class="input"
                                type="password"
                                placeholder="Password">
                                <span class="icon is-small is-left">
                                <fa-icon [icon]="faLock"></fa-icon>
                                </span>
                            </p>
                        </div>
                        <div class="error danger p-2" *ngIf="invalidInput">
                            Invalid email/password
                        </div>
                    </div>

                    <div class="has-text-centered">
                        <button class="column is-half button is-info" type="submit">Login</button>
                    </div>
                </form>
                <div class="card-footer mt-5"></div>
                <div class="has-text-centered mt-5">
                    <p class="is-size-6 has-text-light">New to ...?</p>
                    <button href="#" class="column is-half button is-success mt-2" routerLink="register">Create Account</button>
                </div>
                <div class="has-text-centered mt-5">
                    <a class="is-size-6 has-text-light is-underlined" routerLink="forgotten-password">Forgotten Password</a>
                </div>
            </div>
        </div>
    </div>
</div> 