.card{
    width: 420px;
    height: 350px;
    background-color: rgb(41, 41, 41);
    color: white;
}

a{
    color:rgb(211, 211, 211);
}

a:hover{
    color: rgb(85, 120, 160);
}

.card-content{
    height: 150px;
}

.games-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
}

.input{
    width: 250px;
}

@media only screen and (max-width: 1180px) {
    .games-container{
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
}


@media only screen and (max-width: 956px) {
    .games-container{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    
}

@media only screen and (max-width: 471px) {
    .games-container{
        grid: none;
        display: block;
        margin: 0 auto;
    }
}