.card{
    width: 420px;
    height: 350px;
    background-color: rgb(41, 41, 41);
    color: white;
}

a{
    color:rgb(211, 211, 211);
}

a:hover{
    color: rgb(85, 120, 160);
}

.card-content{
    height: 150px;
}