<div class="is-flex is-flex-wrap-wrap is-flex-justify-content-center is-align-items-center">
    <div class="card m-2" *ngFor="let game of activeGames">
        <a [routerLink]="['/game-lobby', game.id]">
            <div class="card-image">
                <div class="image">
                <img [src]="game.headerImage" alt="Placeholder image">
                </div>
            </div>
            <div class="card-content is-flex is-justify-content-center is-flex-direction-column has-text-centered">
                <p class="">{{ game.name }}</p>
                <p class="">Active Lobbies: 5</p>
            </div>
        </a>
    </div>
</div>
