.lobby-info-wrapper{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-lobby-image{
    height: 100%;
    width: 100%;
}

.lobby-text{
    display: flex;
    width: 100%;
}

.lobby-text h1{
    color: rgb(221, 220, 212);
}