.lobby-info-wrapper{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-lobby{
    width: 100%;
}

.header-lobby-image{
    height: 100%;
    width: 35%;
}

.lobby-text{
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-lobby-game-title h1{
    color: rgb(221, 220, 212);
}

.header-lobby-game-title{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(221, 220, 212);
    text-align: center;
}


@media only screen and (max-width: 663px) {
    .header-lobby-image{
        width: 180px;
        height: 100px;
        margin: 0 auto;
    }
    
    .lobby-text{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-top: 10px;
    }
    .lobby-text p{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .header-lobby-game-title{
        margin-top: 25px;
        width: 100%;
    }

    .header-lobby{
        flex-direction: column;
        padding: 40px;
    }
    
}