.lobby-info-wrapper{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-lobby{
    width: 100%;
}

.header-lobby-image{
    height: 100%;
    width: 40%;
}

.header-lobby-game-title h1{
    color: rgb(221, 220, 212);
}

.header-lobby-game-title{
    width: 60%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: rgb(221, 220, 212);
    text-align: center;
}


@media only screen and (max-width: 663px) {
    .header-lobby-image{
        width: 240px;
        height: 120px;
        margin: 0 auto;
    }
    
    .header-lobby-game-title{
        margin-top: 25px;
        width: 100%;
        align-items: center;
    }

    .header-lobby{
        flex-direction: column;
        padding: 40px;
    }
}