.lobby-chat-wrapper{
  background-color: rgba(37, 37, 37, 0.7);
}


.lobby-chat{
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  height: 440px;
}

.lobby-chat-item{
  padding: 10px;
}

.lobby-chat-user{
  color: white;
  padding: 8px;
  font-size: 14px;
}

.lobby-chat-message{
  width: 100%;
  background-color: rgb(54, 54, 54);
  border-radius: 10px;
  padding: 8px;
  color: white;
}

.input{
  background-color: rgb(219, 219, 219);
  border-color: rgb(83, 33, 0);
  color: rgb(66, 66, 66);
}

::-webkit-scrollbar {
  width: 10px;
}
  
::-webkit-scrollbar-track {
  background: #d1d1d1;
}
  
::-webkit-scrollbar-thumb {
  background: rgb(97, 97, 97);
}
  
::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 84, 84);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(97, 97, 97);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(97, 97, 97);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(97, 97, 97);
}