<div class="lobby-chat-wrapper">
    <div class="lobby-chat">
        <div>
            <div class="lobby-chat-item" *ngFor="let message of chatMessages">
                <div class="lobby-chat-user">
                    {{ message.username }} @ {{ message.dateSent }}
                </div>
                <div class="lobby-chat-message">
                    {{ message.chatMessage }}
                </div>
            </div>
        </div>
    </div>
    <div class="lobby-chat-input is-flex">
        <input class="input" type="text" (keydown.enter)="onSubmit()" maxlength="100" placeholder="{{ 'SEND_MESSAGE_PLACEHOLDER' | translate }}" #chatMessage>
        <button class="button is-success" (click)="onSubmit()">{{ 'SEND' | translate }}</button>
    </div>
</div>