<app-login></app-login>
<div class="info-section-wrapper">
  <div class="info-section-one is-flex">
    <section class="section is-medium is-flex is-flex-direction-column three-quarter-width">
      <h1 class="title has-text-light">Sign up</h1>
      <h2 class="subtitle has-text-light">
        Sign up and create your profile. Based on the information, we can tailor your experience.
      </h2>
    </section>
    <div class="is-flex is-align-items-center is-justify-content-center one-quarter-width">
      <div class="image is-64x64">
        <img src="../../../assets/images/discord_icon.png" alt="">
      </div>
      <div class="image is-64x64">
        <img src="../../../assets/images/steam_icon.png" alt="">
      </div>
    </div>
  </div>
  <div class="info-section-two is-flex">
    <div class="is-flex is-align-items-center is-justify-content-center one-quarter-width">
      <div class="image is-64x64">
        <img src="../../../assets/images/discord_icon.png" alt="">
      </div>
      <div class="image is-64x64">
        <img src="../../../assets/images/steam_icon.png" alt="">
      </div>
    </div>
    <section class="section is-medium is-flex is-flex-direction-column three-quarter-width">
      <h1 class="title is-flex is-justify-content-start has-text-light">Connect your Steam and Discord</h1>
      <h2 class="subtitle has-text-light">
        Connect your Discord so you are ready to find other people to game with, and connect your Steam to get recommendations based on what you play.
      </h2>
    </section>
  </div>
  <div class="info-section-three is-flex">
    <section class="section is-medium is-flex is-flex-direction-column three-quarter-width">
      <h1 class="title has-text-light">Join or create a lobby and start gaming!</h1>
      <h2 class="subtitle has-text-light">
        After everything is setup, you can quickly join a lobby on the frontpage, or navigate to the lobby finder and find a lobby based on what you're feeling. If you're not finding what you're looking for, how about creating your own?
      </h2>
    </section>
    <div class="is-flex is-align-items-center is-justify-content-center one-quarter-width">
      <div class="image is-64x64">
        <img src="../../../assets/images/discord_icon.png" alt="">
      </div>
      <div class="image is-64x64">
        <img src="../../../assets/images/steam_icon.png" alt="">
      </div>
    </div>
  </div>
</div>