<!-- <video id="background-video" class="header" autoplay loop muted playsinline poster="https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?cs=srgb&dl=pexels-abdullah-ghatasheh-1631677.jpg&fm=jpg">
  <source src="../assets/videos/background.mp4" type="video/mp4">
</video> -->
<div class="bg">
  <div class="container">
    <div class="login-section">
      <div class="card column is-half m-3">
        <app-login></app-login>
      </div>
    </div>
  </div>
</div> 
<div class="info-section-wrapper">
  <div class="info-section-one">
    <section class="section is-medium container">
      <h1 class="title has-text-light">Sign up</h1>
      <h2 class="subtitle has-text-light">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur temporibus eligendi ipsum possimus! Quis harum necessitatibus sint a id ipsa.
      </h2>
    </section>
  </div>
  <div class="info-section-two">
    <section class="section is-medium is-flex is-flex-direction-column container">
      <h1 class="title is-flex is-justify-content-end has-text-light">Connect your Steam and Discord</h1>
      <h2 class="subtitle has-text-light">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur temporibus eligendi ipsum possimus! Quis harum necessitatibus sint a id ipsa.
      </h2>
    </section>
  </div>
  <div class="info-section-three">
    <section class="section is-medium container">
      <h1 class="title has-text-light">Join or create a lobby and start gaming!</h1>
      <h2 class="subtitle has-text-light">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur temporibus eligendi ipsum possimus! Quis harum necessitatibus sint a id ipsa.
      </h2>
    </section>
  </div>
</div>
<app-footer></app-footer>
