<div class="account-background">
    <div class="container">
        <div class="content">
            <div class="columns">
                <div class="column is-one-quarter profile-left">
                    <div class="profile-left-content">
                        <div class="has-text-centered is-flex is-justify-content-center">
                            <div class="image is-128x128">
                                <img class="is-rounded" src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs2/114486158/original/ef1ebd076e28c081a69c83cee374fb56f29d27e5/make-you-a-custom-gaming-profile-picture.png">
                            </div>
                        </div>
                        <div class="has-text-centered mt-5">
                            <button class="button is-dark">Follow</button>
                        </div>
                        <div class="image-content mt-5 text-is-light">
                            <div class="following mb-3">
                                <p>FOLLOWING</p>
                                <p> {{ user?.memberProfile?.memberData?.following?.length }} </p>
                            </div>
                            <div class="followers mb-3">
                                <p>FOLLOWERS</p>
                                <p> {{ user?.memberProfile?.memberData?.followers?.length }} </p>
                            </div>
                            <div class="thumbs-up mb-3">
                                <p><fa-icon class="fa-lg" [icon]="faThumbsUp"></fa-icon></p>
                                <p> {{ user?.memberProfile?.memberData?.upvotes }} </p>
                            </div>
                            <div class="thumbs-down">
                                <p><fa-icon class="fa-lg" [icon]="faThumbsDown"></fa-icon></p>
                                <p> {{ user?.memberProfile?.memberData?.downvotes }} </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="column account-right-content">
                    <div class="column is-full profile-info-container">
                        <div class="profile-content text-is-light">
                            <h1 class="has-text-light"> {{ user?.username }} </h1>
                            <p> {{ user?.memberProfile?.description }} </p>
                            <p><strong class="text-is-light">Favorite Game:</strong> League of Legends</p>
                            <p><strong class="text-is-light">Favorite Game:</strong> League of Legends</p>
                            <p><strong class="text-is-light">Favorite Game:</strong> League of Legends</p>
                            <p><strong class="text-is-light">Favorite Game:</strong> League of Legends</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-full activity-list-container">
                <div class="profile-activity-list">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Achivement</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>26.01.21</td>
                                <td>USERNAME started a GAME lobby!</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>05.11.21</td>
                                <td>USERNAME joined a GAME lobby!</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>12.01.22</td>
                                <td>USERNAME is looking something.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>