<div class="account-background">
    <div class="container">
        <div class="content">
            <div class="columns">
                <div class="column is-one-third profile-left">
                    <div class="profile-left-content">
                        <app-account-card [user]="user" [currentUser]="currentUser"></app-account-card>
                    </div>
                </div>
                <div class="column">
                    <app-account-info [user]="user"></app-account-info>
                </div>
            </div>
            <div class="column is-full">
                <app-account-lobby-history [finishedLobbies]="finishedLobbies"></app-account-lobby-history>
            </div>
        </div>
    </div>
</div>