<div class="dropdown" [ngClass]="dropdownStatus ? 'is-active' : ''">
    <div class="dropdown-trigger">
        <a class="button" aria-haspopup="true" aria-controls="dropdown-filter-lobby" (click)="toggleDropdown()">
            <span>{{ 'FILTER' | translate }}</span>
        </a>
    </div>
    <div class="dropdown-menu " id="dropdown-filter-lobby" role="menu">
        <div class="dropdown-content">
            <a class="dropdown-item" (click)="filterLobby(1)">
                {{ 'COMPETITIVE' | translate }}
            </a>
            <a class="dropdown-item" (click)="filterLobby(2)">
                {{ 'RANKED' | translate }}
            </a>
            <a class="dropdown-item" (click)="filterLobby(3)">
                {{ 'FUN' | translate }}
            </a>
            <a class="dropdown-item" (click)="filterLobby(4)">
                {{ 'TRYHARD' | translate }}
            </a>
            <a class="dropdown-item" (click)="filterLobby(5)">
                {{ 'CHILL' | translate }}
            </a>
            <a class="dropdown-item" (click)="filterLobby(6)">
                {{ 'CASUAL' | translate }}
            </a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" (click)="filterLobby(7)">
                {{ 'RESET' | translate }}
            </a>
        </div>
    </div>
</div>
<div class="lobby-container p-6"
    infinite-scroll
    [infiniteScrollDistance]="0.5"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()">

    <div class="card" *ngFor="let lobby of lobbies">
        <div class="has-text-centered is-flex is-justify-content-center p-3">
            <div class="image is-128x128">
                <img class="is-rounded" [src]="lobby.adminProfilePic" alt="Lobby Host Icon">
            </div>
        </div>
        <div class="lobby-card-content mt-5">
            <div class="lobby-card-title">
                {{ lobby.title }}
            </div>
            <div class="lobby-card-desc">
                {{ lobby.lobbyDescription }}
            </div>
            <div class="lobby-card-wrapper is-flex is-justify-content-space-between mt-5">
                <div class="lobby-card-type">
                    <p>{{ 'GAMETYPE' | translate }}</p>
                    {{ lobby.gameType }}
                </div>
                <div class="lobby-card-players">
                    <p>{{ 'PLAYERS' | translate }}</p>
                     {{ lobby.users.length }}  / {{ lobby.maxUsers }}
                </div>
            </div>
            <div class="lobby-card-creator mt-5">
                <p>{{ 'CREATED_BY' | translate }}</p>
                {{ lobby.adminUsername }}
            </div>
        </div>
        <div class="lobby-btn-wrapper">
            <button (click)="requestToJoin(lobby.id)" *ngIf="queueStatus == 'notInQueue' && lobbyId == 0 && !inQueue" class="button is-info">{{ 'BTN_REQUEST_JOIN' | translate }}</button>
            <button (click)="cancelJoin(lobby.id)" *ngIf="queueStatus == 'inQueue' && lobbyId == lobby.id && inQueue" class="button is-info">{{ 'BTN_WAITING' | translate }}</button>
            <button *ngIf="queueStatus == 'accepted' && lobby.id == lobbyId && !inQueue" class="button is-info" [routerLink]="['/lobby', lobby.id]">{{ 'BTN_GO_TO_LOBBY' | translate }}</button>
        </div>
    </div>
</div>
