.card {
  height: 100%;
  width: 300px;
  border-radius: 50px;
  background: linear-gradient(90deg, rgba(42, 45, 80, 0.8) 0%, rgba(14, 6, 82, 0.7) 100%);
  color: white;
}

.lobby-card-title{
  text-align: center;
  font-size: 18px;
}

.lobby-card-desc{
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  height: 50px;
}


.lobby-btn-wrapper{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.lobby-card-wrapper{
  padding-left: 2rem;
  padding-right: 2rem;
}

.lobby-card-type p{
  
}

.lobby-card-players{
  
}

.lobby-card-creator{
  
}

p{
  font-size: 14px;
  font-weight: bold;
}