.card {
  height: 520px;
  width: 300px;
  border-radius: 50px;
  background: linear-gradient(90deg, rgba(42, 45, 80, 0.8) 0%, rgba(14, 6, 82, 0.7) 100%);
  color: white;
  text-align: center;
}

.lobby-card-title{
  text-align: center;
  font-size: 18px;
}

.lobby-card-desc{
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  height: 50px;
}


.lobby-btn-wrapper{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.lobby-card-wrapper{
  padding-left: 2rem;
  padding-right: 2rem;
}

p{
  font-size: 14px;
  font-weight: bold;
}

.game-lobbies-container{
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}