<div class="dropdown" [ngClass]="dropdownStatus ? 'is-active' : ''">
    <div class="dropdown-trigger">
        <a class="button" aria-haspopup="true" aria-controls="dropdown-filter-lobby" (click)="toggleDropdown()">
            <span>Filter</span>
        </a>
    </div>
    <div class="dropdown-menu " id="dropdown-filter-lobby" role="menu">
        <div class="dropdown-content">
            <a class="dropdown-item" (click)="filterLobby(1)">
            Competetive
            </a>
            <a class="dropdown-item" (click)="filterLobby(2)">
            Ranked
            </a>
            <a class="dropdown-item" (click)="filterLobby(3)">
            Fun
            </a>
            <a class="dropdown-item" (click)="filterLobby(4)">
            Tryhard
            </a>
            <a class="dropdown-item" (click)="filterLobby(5)">
            Chill
            </a>
            <a class="dropdown-item" (click)="filterLobby(6)">
                Casual
            </a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" (click)="filterLobby(7)">
              Reset
            </a>
        </div>
    </div>
</div>
<div class="game-lobbies-container p-6">
    <div class="card" *ngFor="let lobby of lobbies">
        <div class="has-text-centered is-flex is-justify-content-center p-3">
            <div class="image is-128x128">
                <img class="is-rounded" [src]="lobby.adminProfilePic">
            </div>
        </div>
        <div class="lobby-card-content mt-5">
            <div class="lobby-card-title">
                {{ lobby.title }}
            </div>
            <div class="lobby-card-desc">
                {{ lobby.lobbyDescription }}
            </div>
            <div class="lobby-card-wrapper is-flex is-justify-content-space-between mt-5">
                <div class="lobby-card-type">
                    <p>Gametype</p>
                    {{ lobby.gameType }}
                </div>
                <div class="lobby-card-players">
                    <p>Players</p>
                     {{ lobby.users.length }}  / {{ lobby.maxUsers }}
                </div>
            </div>
            <div class="lobby-card-creator mt-5">
                <p>Created By:</p>
                {{ lobby.adminUsername }}
            </div>
        </div>
        <div class="lobby-btn-wrapper">
            <button (click)="requestToJoin(lobby.id)" *ngIf="currentId == 0 && !inQueue" class="button is-info">Request to join</button>
            <button (click)="cancelJoin(lobby.id)" *ngIf="inQueue && currentId != 0" class="button is-info">Waiting...</button>
            <button *ngIf="!inQueue && currentId == lobby.id" class="button is-info" [routerLink]="['/lobby', lobby.id]">Go to lobby</button>
        </div>
    </div>
</div>
