<div class="is-flex is-justify-content-space-around is-align-items-center">
    <div class="image is-32x32">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/United-kingdom_flag_icon_round.svg/1200px-United-kingdom_flag_icon_round.svg.png">
    </div>
    <div class="waiting-room-user-wrapper is-flex is-align-items-center">
        <div class="image is-32x32 mr-2">
            <img class="is-rounded" src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/75/7514b0304efd66200bc6aeb671642d925b95ca15_full.jpg">
        </div>
        <div class="text-is-light">S0meon3</div>
    </div>
    <div class="waiting-room-btn-wrapper">
        <a >
            <fa-icon class="fa-lg mr-2" [icon]="faMinus"></fa-icon>
        </a>
        <a (click)="acceptMember()">
            <fa-icon class="fa-lg mr-2" [icon]="faPlus"></fa-icon>
        </a>
    </div>
</div>
