.create-lobby-bg{
    width: 100%;
    height:100vh;
    background: rgb(37, 37, 37);
/*     background:linear-gradient(
      rgba(37, 35, 33, 0.85),
      rgba(37, 37, 37, 0.85)
    ),
    url(https://i.ibb.co/47ZDzvC/digital-technology-background-with-blue-and-orange-light-effect.jpg); */
    background-size: cover;
}

.create-lobby-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: rgba(38, 38, 39, 0.75);
    border-radius: 20px;
}

.create-lobby-button{
    width: 100%;
    background-color: rgb(88, 160, 46);
    border: none;
    font-weight: bold;
}

.go-back-btn{
    width: 100%;
    background-color: rgb(143, 42, 42);
    border: none;
    font-weight: bold;
}

.results{
    z-index: 10;
    color: white;
    position: absolute;
    width: 92%;
}

.result-item{
    padding: 10px;
    border-left: 5px solid;
}

.result-item a {
    color: rgb(207, 207, 207);
}

.result-item:nth-child(even){
    background-color: rgb(37, 37, 37);
    border-left-color: rgb(0, 19, 187);
}
.result-item:nth-child(odd){
    background-color: rgb(48, 48, 48);
    border-left-color: rgb(192, 77, 0);
}

.result-item a:hover{
    color: rgb(52, 70, 146);
}
