<div class="create-lobby-bg">
    <div class="container">
        <form [formGroup]="createLobbyForm" (ngSubmit)="onSubmit()" class="create-lobby-form">
            <div class="card column is-two-thirds m-3">
                <h1 class="title has-text-centered text-is-light">Lobby Creation</h1>
                
                <div class="card-content">
                    <div class="custom">
                        <input class="input is-primary" type="text" placeholder="Search for a game..." #gameInput >
                        <div class="results has-text-centered">
                            <div class="result-item" *ngFor="let game of games">
                                <a (click)="selectGame(game)">{{ game.name }}</a>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!createLobbyForm.controls.gameId.valid && submitted" class="has-text-centered has-text-light">Choose a game</div>
                    <label for="title"></label>
                    <input class="input is-normal mt-6" type="text" placeholder="Lobby name" name="title" formControlName="title">
                    <div *ngIf="!createLobbyForm.controls.title.valid && submitted" class="has-text-centered has-text-light">Please include a short name for your lobby!</div>
                    <textarea class="textarea is-primary mt-6" placeholder="Describe what you are looking for(optional)" formControlName="lobbyDescription"></textarea>
                    <div class="columns">
                        <div class="column is-half">
                            <ng-select 
                                [items]="selectedType" 
                                bindLabel="name" 
                                placeholder="What type of game?"
                                formControlName="gameType"
                                [closeOnSelect]='true'
                                class="custom mt-6">
                        </ng-select>
                        <div *ngIf="!createLobbyForm.controls.gameType.valid && submitted" class="has-text-centered has-text-light">Choose the type of lobby.</div>
                        </div>
                        <div class="column is-half">
                            <ng-select 
                                [items]="selectedMaxplayers" 
                                bindLabel="name" 
                                placeholder="How many players including yourself?"
                                formControlName="maxUsers"
                                [closeOnSelect]='true'
                                class="custom mt-6">
                            </ng-select>
                            <div *ngIf="!createLobbyForm.controls.maxUsers.valid && submitted" class="has-text-centered has-text-light">Amount of players your looking for.</div>
                        </div>
                    </div>
                    <button class="button create-lobby-button is-normal text-is-light" type="submit">Create Lobby</button>
                    <button class="button go-back-btn is-normal text-is-light mt-5" type="button" routerLink="../home">Cancel</button>
                </div>
            </div> 
        </form>
    </div>
</div>