<h1 class="title p-3 text-is-light">{{ 'MANAGE' | translate }}</h1>
<div class="manage-account-wrapper is-flex is-flex-direction-column">
    <section class="section text-is-light">
        <h1 class="subtitle text-is-light">{{ 'REQUEST_DATA' | translate }}</h1>
        <div class="mb-3">
            {{ 'REQUEST_DATA_INFO' | translate }}
            <ul class="request-list m-5">
                <li>{{ 'REQUEST_DATA_INFO_ONE' | translate }}</li>
                <li>{{ 'REQUEST_DATA_INFO_TWO' | translate }}</li>
                <li>{{ 'REQUEST_DATA_INFO_THREE' | translate }}</li>
                <li>{{ 'REQUEST_DATA_INFO_FOUR' | translate }}</li>
                <li>{{ 'REQUEST_DATA_INFO_FIVE' | translate }}</li>
            </ul>
        </div>
        <button class="button is-warning">{{ 'REQUEST' | translate }}</button>
    </section>
    <section class="section text-is-light">
        <h1 class="subtitle text-is-light">{{ 'DELETE_ACCOUNT' | translate }}</h1>
        <div class="mb-3">
            {{ 'DELETE_ACCOUNT_INFO' | translate }}
        </div>
        <button class="button is-danger" (click)="toggleModal()" data-target="modal-delete-account">{{ 'DELETE_ACCOUNT' | translate }}</button>
    </section>
    <div id="modal-delete-account" class="modal" [ngClass]="status ? 'is-active' : ''">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="box">
            <div class="box-text">
                {{ 'DELETE_ACCOUNT_CONFIRM' | translate }}
            </div>
            <div class="button-wrapper p-3">
                <button class="button is-danger mr-2" (click)="onDeleteAccount()">{{ 'DELETE_ACCOUNT' | translate }}</button>
                <button class="button is-warning ml-2" (click)="toggleModal()">{{ 'CANCEL' | translate }}</button>
            </div>
          </div>
        </div>
    </div>
</div>