<h1 class="title p-3 text-is-light">Manage</h1>
<div class="manage-account-wrapper is-flex is-flex-direction-column">
    <section class="section text-is-light">
        <h1 class="subtitle text-is-light">Request</h1>
        <div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae officiis repellat, impedit ab nihil quas laboriosam tenetur dolor ratione sed libero ipsum
             fugit dolorem veritatis praesentium, esse illum ullam quam sapiente pariatur in nulla distinctio. Culpa itaque similique repudiandae quae? Repudiandae quidem sapiente vero explicabo dolore corrupti in est illum!
        </div>
    </section>
    <section class="section text-is-light">
        <h1 class="subtitle text-is-light">Delete</h1>
        <div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae officiis repellat, impedit ab nihil quas laboriosam tenetur dolor ratione sed libero ipsum
             fugit dolorem veritatis praesentium, esse illum ullam quam sapiente pariatur in nulla distinctio. Culpa itaque similique repudiandae quae? Repudiandae quidem sapiente vero explicabo dolore corrupti in est illum!
        </div>
    </section>
</div>
