<div class="has-text-centered mb-6 mt-6">
    <h1 class="title has-text-light">{{ 'HOME_FIRST_TITLE' | translate }}</h1>
    <h1 class="title has-text-light">{{ 'HOME_SECOND_TITLE' | translate }}</h1>
</div>
<div class="has-text-centered btn-wrapper">
    <div class="btn-element">
        <a routerLink="/create-lobby">
            <div class="create-btn is-flex is-justify-content-center is-align-items-center">
                <div class="btn-content">
                    {{ 'CREATE_A_ROOM' | translate }}
                </div>
            </div>
        </a>
    </div>
    <div class="btn-element">
        <a routerLink="/find-lobby">
            <div class="join-btn is-flex is-justify-content-center is-align-items-center">
                <div class="btn-content">
                    {{ 'JOIN_OTHERS' | translate }}
                </div>
            </div>
        </a>
    </div>
</div>