.joined-users-list{
    width: 100%;
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(37, 37, 37, 0.7);
}

.joined-users-header{
  background-color: rgb(92, 209, 255);
  font-size: 10px;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  ::-webkit-scrollbar-track {
  background: #ffffff;
}
  
  ::-webkit-scrollbar-thumb {
  background: rgb(141, 138, 138);
}
  
  ::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 84, 84);
}

.half-width{
  width: 50%;
}

.username-text{
  cursor: pointer;
  color:rgb(164, 219, 255);
}