.lobby-history-list{
  width: 100%;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(37, 37, 37, 0.7);
}

.lobby-history-header{
  background-color: rgb(175, 58, 58);
  height: 40px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
}

.lobby-history-item{
  background-color: rgb(226, 226, 226);
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 14px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  ::-webkit-scrollbar-track {
  background: #ffffff;
}
  
  ::-webkit-scrollbar-thumb {
  background: rgb(141, 138, 138);
}
  
  ::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 84, 84);
}

.half-width{
  width: 50%;
}

.quarter-width{
  width: 25%;
}