<div class="lobby-history-list">
    <div class="lobby-history-header">
        History
    </div>
    <div class="lobby-history-item p-3" *ngFor="let lobby of finishedLobbies">
        <div class="one-quarter-width"> {{ fixDate(lobby.startDate) }} </div>
        <div class="one-quarter-width">
            <a [routerLink]="['../../archived-lobby', lobby.id]">
                #{{ lobby.id }}
            </a>
        </div>
        <div class="two-quarter-width" >{{ lobby.gameName }}</div>
    </div>
</div>