<div class="settings-container">
    <div class="tabs">
        <ul>
          <li [class.active]="viewMode == 'tab1'" rel="tab1" ><a (click)="viewMode='tab1'">Profile</a></li>
          <li [class.active]="viewMode == 'tab2'" rel="tab2" ><a (click)="viewMode='tab2'">Security</a></li>
          <li [class.active]="viewMode == 'tab3'" rel="tab3" ><a (click)="viewMode='tab3'">Connections</a></li>
          <li [class.active]="viewMode == 'tab4'" rel="tab4" ><a (click)="viewMode='tab4'">Manage</a></li>
        </ul>
    </div>
    <div class="container" [ngSwitch]="viewMode">
        <div id="tab1" class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column" *ngSwitchCase="'tab1'">
            <app-profile-settings class="content-wrapper"></app-profile-settings>
        </div>
        <div class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column" *ngSwitchCase="'tab2'">
            <app-change-password class="content-wrapper"></app-change-password>
        </div>
        <div class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column" *ngSwitchCase="'tab3'">
            <app-connections class="content-wrapper"></app-connections>
        </div>
        <div class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column" *ngSwitchCase="'tab4'">
            <app-manage-account class="content-wrapper"></app-manage-account>
        </div>
    </div>
</div>