.settings-container{
    height: 100%;
    width: 100%;
}

.content-wrapper{
    height: 100%;
    width: 100%;
    margin-top: 54px;
}

.tabs{
    margin-top: 54px;
    padding: 30px;
}

a{
    color: rgb(221, 220, 212);
}

a:hover{
    color: rgb(176, 225, 245);
    border-bottom-color: rgb(59, 200, 255);
}

.tabs ul {
    justify-content: center;
}