.settings-container{
    height: 100%;
    width: 100%;
    background-color: rgb(53, 49, 49);
}

.content-wrapper{
    height: 100%;
    width: 100%;
    margin-top: 25px;
}

.tabs{
    margin-top: 64px;
    padding: 30px;
}

a{
    color: rgb(221, 220, 212);
}

a:hover{
    color: rgb(176, 225, 245);
    border-bottom-color: rgb(59, 200, 255);
}

.tabs ul {
    justify-content: center;
}

::-webkit-scrollbar {
    width: 5px;
}
    
::-webkit-scrollbar-track {
    background: #ffffff;
}
    
::-webkit-scrollbar-thumb {
    background: rgb(64, 75, 228);
}
    
::-webkit-scrollbar-thumb:hover {
    background: rgb(92, 84, 84);
}