nav{
    background-color: rgb(27, 29, 38);
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar-item img {
    width: 48px;
    height: 48px;
    max-height: none;
}

.icon{
    color: rgb(206, 202, 202);
}

.input{
    max-width: 250px;
}

.navbar-burger{
    color: white;
}

.noti-icon{
    position: relative;
    font-size: 2em;
    color: grey;
    cursor: pointer;
}

.noti-num{
    position: absolute;
    font-size: 0.3em;
    top: 1px;
    color: #fff;
    right: 2px;
}

.noti-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d6d1d1;
    border: none;
    outline: none;
    border-radius: 50%;
  }
  
.noti-number {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.nav-items-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-items{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 50px;
}

.dropdown-menu {
    left: -120px;
}

.menu-list a{
    color: white;
}

.menu-label{
    color: white;
    font-size: 16px;
}

li a:hover{
    background-color: rgba(47, 92, 112, 0.5);
    color: rgb(226, 222, 222);
    transform: scale(1.2);
}

.sidebar-items{
    margin-top: 60px;
}

#navbar-burger-menu{
    height: 100vh;
    text-align: center;
}

@media only screen and (min-width: 1023px) {
    #navbar-burger-menu{
        display: none;
    }
}

@media only screen and (max-width: 1023px) {
    .nav-items{
        margin-right: 0;
    }
}

@media only screen and (max-width: 405px) {
    .navbar-logo{
        display: none;
    }
}