nav{
    background-color: rgb(27, 29, 38);
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar-item img {
    width: 48px;
    height: 48px;
    max-height: none;
}

.icon{
    color: rgb(206, 202, 202);
}

.input{
    max-width: 250px;
}

.navbar-burger{
    color: white;
}

.dropdown-content {
    overflow-x: hidden;
    max-height: 600px;
    background-color: rgb(37, 37, 37);
}

.discord-btn{
    color: rgb(219, 219, 219);
}

.noti-icon{
    position: relative;
    font-size: 2em;
    color: grey;
    cursor: pointer;
}

.noti-num{
    position: absolute;
    font-size: 0.3em;
    top: 1px;
    color: #fff;
    right: 2px;
}

.noti-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d6d1d1;
    border: none;
    outline: none;
    border-radius: 50%;
}
  
.noti-number {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.notification-item{
    border-bottom: 1px solid white;
    padding: 10px;
    color: rgb(245, 245, 245);
}

.notification-link a{
    color: rgb(60, 107, 170);
}

.discord-link a{
    color: rgb(219, 219, 219);
}

.discord-link{
    margin-top: 15px;
}

.notification-link{
    margin-top: 15px;
}

.nav-items-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-items{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 50px;
}

.dropdown-menu {
    left: -242px;
    width: 331px;
    top: 44px;
}

.dropdown-item{
    text-align: center;
}

.menu-list a{
    color: white;
}

.menu-label{
    color: white;
    font-size: 16px;
}

li a:hover{
    background-color: rgba(47, 92, 112, 0.5);
    color: rgb(226, 222, 222);
    transform: scale(1.2);
}

.sidebar-items{
    margin-top: 60px;
}

.search-results{
    z-index: 10;
    position: absolute;
    width: 92%;
    top: 39px;
    max-height: 250px;
    overflow-x: hidden;
}

.upgrade-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 138, 179);
    border-radius: 5px;
    color:rgb(214, 214, 214);
    padding: 10px;
}

.goto-lobby-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(74, 133, 7);
    border-radius: 5px;
    color:rgb(214, 214, 214);
    padding: 10px;
}

.goto-lobby-btn:hover{
    background-color: rgb(182, 182, 182);
    color:rgb(74, 133, 7);
}

.loading {    
    background-color: #ffffff;
    background-image: url(../../../assets/spinner/Spin-1s-257px.gif);
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}

.upgrade-btn:hover{
    background-color: rgb(194, 194, 194);
    color:rgb(6, 138, 179);
}

.result-item{
    padding: 10px;
    border-left: 5px solid;
}

.result-item a{
    color:rgb(219, 219, 219);
}

.result-item:nth-child(even){
    background-color: rgb(37, 37, 37);
    border-left-color: rgb(0, 19, 187);
}
.result-item:nth-child(odd){
    background-color: rgb(48, 48, 48);
    border-left-color: rgb(192, 77, 0);
}

.result-item a:hover{
    color: rgb(52, 70, 146);
}

::-webkit-scrollbar {
    width: 5px;
}
    
::-webkit-scrollbar-track {
    background: #ffffff;
}
    
::-webkit-scrollbar-thumb {
    background: rgb(141, 138, 138);
}
    
::-webkit-scrollbar-thumb:hover {
    background: rgb(92, 84, 84);
}

#navbar-burger-menu{
    height: 100vh;
    text-align: center;
}

@media only screen and (min-width: 1023px) {
    #navbar-burger-menu{
        display: none;
    }
}

@media only screen and (max-width: 1023px) {
    .nav-items{
        margin-right: 0;
    }
}

@media only screen and (max-width: 405px) {
    .navbar-logo{
        display: none;
    }
}

@media only screen and (max-width: 723px) {
    .upgrade-btn{
        display: none;
    }
}

@media only screen and (max-width: 525px) {
    .goto-lobby-btn{
        display: none;
    }
}

.link-copy-wrapper {
    position: relative;
    width: 300px;
}

.link-input {
    width: 100%;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 100px;
    padding: 12px 70px 12px 12px;
    line-height: 1;
    box-sizing: border-box;
}

.copy-link-button {
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #0a85cc;
    color: rgb(255, 255, 255);
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
    cursor: pointer;
}