aside{
    height: 100vh;
    background-color: rgb(27, 29, 38);
    position: fixed;
}

.sidebar{
    width: 225px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-list a{
    color: white;
}

.menu-label{
    color: white;
    font-size: 16px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.sidebar-items{
    margin-top: 75px;
}

.flag-wrapper{
    flex-grow: 1;
    margin-bottom: 30px;
}


li a:hover{
    background-color: rgba(47, 92, 112, 0.5);
    color: rgb(226, 222, 222);
}

@media only screen and (max-width: 1023px) {
    .sidebar{
        display: none;
    }
}