aside{
    height: 100vh;
    background-color: rgb(27, 29, 38);
    position: fixed;
}

.sidebar{
    width: 225px;
}

.menu-list a{
    color: white;
}

.menu-label{
    color: white;
    font-size: 16px;
}

.sidebar-items{
    margin-top: 60px;
}


li a:hover{
    background-color: rgba(47, 92, 112, 0.5);
    color: rgb(226, 222, 222);
}

@media only screen and (max-width: 1023px) {
    .sidebar{
        display: none;
    }
}