<aside class="column is-full is-narrow-mobile is-fullheight is-hidden-mobile sidebar">
    <p class="menu-label is-hidden-mobile has-text-centered mt-5">Navigation</p>
    <div class="ml-3">
        <ul class="menu-list">
            <li><a><fa-icon class="fa-lg mr-2" [icon]="faUser"></fa-icon>Home</a></li>
            <li><a><fa-icon class="fa-lg mr-2" [icon]="faUser"></fa-icon>About</a></li>
        </ul>
            <p class="menu-label has-text-centered">Social</p>
            <ul class="menu-list">
                <li><a><fa-icon class="fa-lg mr-2" [icon]="faUser"></fa-icon>Find</a></li>
                <li><a><fa-icon class="fa-lg mr-2" [icon]="faUser"></fa-icon>Find</a></li>
                <li><a><fa-icon class="fa-lg mr-2" [icon]="faUser"></fa-icon>Find</a></li>
                <li><a><fa-icon class="fa-lg mr-2" [icon]="faUser"></fa-icon>Find</a></li>
                <li><a><fa-icon class="fa-lg mr-2" [icon]="faUser"></fa-icon>Find</a></li>
                <li><a><fa-icon class="fa-lg mr-2" [icon]="faUser"></fa-icon>Find</a></li>
            </ul>
            <p class="menu-label has-text-centered">Account</p>
        <ul class="menu-list">
            <li><a><fa-icon class="fa-lg mr-2" [icon]="faUser"></fa-icon>Find</a></li>
            <li><a><fa-icon class="fa-lg mr-2" [icon]="faUser"></fa-icon>Find</a></li>
            <li><a><fa-icon class="fa-lg mr-2" [icon]="faUser"></fa-icon>Find</a></li>
        </ul>
    </div>

</aside>