<div class="join-voice-wrapper is-flex is-align-items-center is-justify-content-center is-flex-direction-column">
    <p class="text-is-light">{{ 'LOBBY_JOIN_DISCORD_TEXT' | translate }}</p>
    <button class="button is-info" (click)="joinVoiceChat()">{{ 'LOBBY_JOIN_VOICE' | translate }}</button>
    <p class="text-is-light mt-3">{{ 'LOBBY_JOIN_DISCORD_LINK_TEXT' | translate }}</p>
    <div class="link-copy-wrapper">
        <input type="text" [value]="voiceUrl" class="link-input" readonly #voiceLinkInput>
        <button (click)="copyLink(voiceLinkInput)" class="copy-link-button"><fa-icon [icon]="faCopy"></fa-icon></button>
    </div>
</div>