.host-panel-wrapper{
  width: 100%;
  height: 480px;
  background-color: rgba(37, 37, 37, 0.7);
}

.text-is-light{
  color: rgb(221, 220, 212);
}

.subtitle{
  font-size: 24px;
  color:rgb(236, 236, 236);
}

.box{
 background-color: rgba(48, 48, 48, 0.9);
}

button{
  width: 150px;
}

.users-ready-status{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.users-count-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 1023px) {  
  .subtitle{
    font-size: 20px;
  }
}