<div class="lobby-background">
    <div class="container">
        <div class="content">
            <div class="column is-full">
                <div class="top-content is-flex is-align-content-center is-justify-content-center">
                    <h1>LOBBY INFO</h1>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half">
                    <div class="left-section is-flex is-align-content-center is-justify-content-center">
                        <h1>WAITING TO JOIN</h1>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="right-content is-flex is-align-content-center is-justify-content-center">
                        <h1>LOBBY PLAYERS</h1>
                    </div>
                </div>
            </div>
            <div class="column is-full">
                <div class="bottom-content is-flex is-align-content-center is-justify-content-center">
                    <h1>CHAT</h1>
                </div>
            </div>
        </div>
    </div>
</div>