<div class="lobby-background" *ngIf="game" [ngStyle]="{'background-image': 'url(' + game?.background + ')'}">
    <div class="container">
        <div class="content">
            <div class="column is-full">
                <div class="top-content">
                    <app-lobby-info [lobby]="lobby" [game]="game"></app-lobby-info>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half">
                    <div class="left-section">
                        <app-waiting-room *ngIf="voiceUrl == ''" [lobby]="lobby" [currentUser]="currentUser"></app-waiting-room>
                        <app-join-voice *ngIf="voiceUrl != ''" [voiceUrl]="voiceUrl"></app-join-voice>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="right-content">
                        <app-joined-users [lobby]="lobby" [voiceUrl]="voiceUrl" [currentUser]="currentUser"></app-joined-users>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half">
                    <div class="bottom-left-content">
                        <app-chat [lobby]="lobby"></app-chat>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="bottom-right-content">
                        <app-host-panel *ngIf="currentUser?.id == lobby.adminUid" [voiceUrl]="voiceUrl" [lobby]="lobby"></app-host-panel>
                        <app-user-panel [currentUser]="currentUser" [lobby]="lobby" [voiceUrl]="voiceUrl" *ngIf="currentUser?.id != lobby.adminUid"></app-user-panel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>