.lobby-background{
    width: 100%;
    height:100vh;
    background:linear-gradient(
      rgba(19, 19, 20, 0.85),
      rgba(2, 15, 44, 0.9)
    ),
    url(https://cdn.pixabay.com/photo/2016/03/18/15/02/ufo-1265186_960_720.jpg);
    background-size: cover;
}

.content{
  margin-top: 54px;
  width: 100%;
  height: 100vh;
}

.top-content{
    background-color: chartreuse;
}

.left-section{
    background-color: brown;
}

.right-content{
    background-color: blueviolet;
}

.bottom-content{
    background-color: rgb(50, 124, 7);
}

.columns {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}