.profile-activity-list{
  background: linear-gradient(180deg, rgba(70, 70, 70, 0.6) 0%, rgba(21, 20, 24, 0.95) 100%);
  width: 100%;
  height: 380px;
  overflow-y: auto;
  overflow-x: auto; 
}

.profile-activity-list-header{
  background-color: rgb(141, 53, 53);
  padding: 10px;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: white;
}

.profile-activity-list-item{
  background-color: rgb(226, 226, 226);
  padding: 10px;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.date-width{
  width: 15%;
  text-align: center;
}

.text-width{
  width: 85%;
}