.container {
    width: 300px;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

.grid-item-2 {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}

  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: 40px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .card_image {      
    width: 100%;
    height: auto;
    transform: scale(1.1);
  }
  
  .card_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    border-radius: 40px;
    background-color: cornflowerblue;      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card_overlay {
    transform: translateY(0);
  }
  
  .card_header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 40px 0 0 0;
    padding: 0.5em;  
    background-color: cornflowerblue;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card_arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card_arc path {
    fill: cornflowerblue;
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card_header {
    transform: translateY(0);
  }
  
  .card_profile_picture {
    flex-shrink: 0;
    width: 60px; 
    height: 60px;
    border-radius: 50%;      
  }
  
  .card_lobby {
    font-size: 1.2em;
    margin: 0 0 0em;
    color: black;
  }
  
  .card_game {
    font-size: 0.9em;
    margin: 0 0 .3em;
    color: black;
  }
  
  .card_players {
    font-size: .8em;
    color: black;
  }
  
  .card_description {
    padding: 0 2em 1em;
    margin: 0;
    color: black;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    
