<p>room-slider works!</p>
<carousel [cellWidth]="300" [height]="424.93">
    <div class="carousel-cell" *ngFor="let room of roomCard">
        <a href="#" class="card">
            <img src={{room.gameImagePath}} class="card_image" alt="" />
            <div class="card_overlay">
                <div class="card_header">
                    <svg class="card_arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                    <img class="card_profile_picture" src={{room.profilePicturePath}} alt="" style="width: 70px;" />
                    <div class="grid-container">
                        <div class="grid-item-1">
                            <div class="card_header-text">
                                <h3 class="card_lobby">{{room.lobby}}</h3>
                                <h4 class="card_game">{{room.game}}</h4>
                                <span class="card_players">Players: {{room.players}}/{{room.maxPlayers}}</span>
                                <p></p>
                                <span class="card_players"> Creator: {{room.creator}}</span>
                            </div>
                        </div>
                        <div class="grid-item-2">
                            <p>{{room.topic}}</p>
                        </div>
                    </div>
                    
                </div>
                <p class="card_description">{{room.description}}</p>
            </div>
        </a>
    </div>
</carousel>