# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - bop3000

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
          include-prerelease: true

      - name: Build with dotnet
        run: dotnet build ./API --configuration Release
        
      - name: Install dotnet 
        run: |
          dotnet new tool-manifest
          dotnet tool install dotnet-ef
        
      - name: dotnet publish
        run: dotnet publish -c Release -o ${{env.DOTNET_ROOT}}/myapp
        
      - name: Generate scripts
        run: dotnet ef -p ./API migrations script --output ${{env.DOTNET_ROOT}}/sql/sql-script.sql --idempotent --context ApplicationDbContext
        
      - name: Azure SQL Deploy
        uses: Azure/sql-action@v1.1
        with:
          # Name of the Azure SQL Server name, like Fabrikam.database.windows.net.
          server-name: tcp:bop3000.database.windows.net
          # The connection string, including authentication information, for the Azure SQL Server database.
          connection-string: ${{ secrets.CONNECTION_STRING }}
          # Path to SQL script file to deploy
          sql-file: ${{env.DOTNET_ROOT}}/sql/sql-script.sql

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: .net-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'bop3000'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_7A609E766C8049B6AB330DDFA0F447CE }}
          package: .
